*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background: #2C4A52;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    }

.parant {
    max-width: 60%;
    min-height: 80vh;
    background: linear-gradient(to right bottom, 
    rgba(255, 255, 255, 0.5), 
    rgba(255, 255, 255, 0.1));   
    border-radius: 5vh;
    position: relative;
    margin: 0 auto;
    }

.icons {
    display: flex;
    width: 80%;
    height: auto;
    /* background: chocolate; */
    align-items: center;
    margin: 0 auto;
    float: inherit;
}

a {
    border-radius: 50%;
}

.top {
    display: flex;
    width: 80%;
    height: auto;
    /* background: chocolate; */
    align-items: center;
    margin: 0 auto;
    float: inherit;
    
}

.mainPhoto {
    position: relative;
    max-width: 100%;
    margin: 1px;
    align-items: center;
    border-radius: 5vh;
    
}

.aboutMe {
    width: 230px;
    word-wrap: break-word;
    position: relative;
    max-width: 100%;
    margin: 1px;
    align-items: center;
}

.png {
    position: relative;
    max-width: 100%;
    margin: 1px;
    align-items: center;
    animation: fade .8s linear forwards;
    }
    .png:hover {
    display: block;
    cursor: pointer;
}

    
    
